{% if resource_granted('issue_view') %}
    {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

    <div class="responsive-cell">
        <div class="title">
            <span class="widget-title">{{ "andy.bugtrack.issue.user_issues.label"|trans }}</span>
        </div>

        <div class="row-fluid">
            {{ dataGrid.renderGrid('user-issues-grid', {userId: entity.id}) }}
        </div>
    </div>
{% endif %}
